@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    font-family: 'Muli';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}

.container {
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position:relative;
    width: 350px;
    margin-bottom: 20px;
}

.progress-container::before {
    content:'';
    background-color: #e0e0e0;
    position:absolute;
    top:50%;
    left:0;
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: #3498db;
    position: absolute;
    top:50%;
    left:0;
    height:4px;
    width:0;
    transition: 0.3s ease;
    z-index: -1;
}

.circle{
    background-color: #fff;
    color:#999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid #e0e0e0;
    transform:0.4s ease;
}

.circle.active{
    border:3px solid #3498db;
}

.btn {
    font-family: inherit;
    font-size: 14px;
    border-radius: 6px;
    color:#fff;
    background-color: #3498db;
    padding: 8px 30px;
    margin:10px;
    border:0;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
     background-color: #e0e0e0;
     cursor:not-allowed;

}